@font-face {
  font-family: myFirstFont;
  src: url(Webpage5/Montserrat/Montserrat-Black.ttf);
}

h1{
  font-family: Montserrat;
  padding: 60px;
  text-align: center;
  color: white;
  font-size: 40px;
  margin-bottom: 20px;
  position: relative:
}

figure{
  justify-content: center;
  position: relative:
}

body{
  position: relative;
   display: flex;
   justify-content: center;
   background-color: pink;
}

#container{
  Position: relative;
  Top: 40px;
  Width: 500px;
}

#content-box{
  background: #4a6677;
  Padding: 15px;
  Margin-bottom: 15px;
}

ul{
  position: relative;
  margin-bottom: 16px;
  margin-top: 20px;
  List-style-type: none;
  Padding: 0px;
  Display: flex;
  Justify-content: center;
}

a{
  Text-decoration: none;
  Background: #FFF;
  Padding: 16px;
}

a:hover{
  Background: #b4b4b4;
}

#slider {
    overflow: hidden;
}
#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 35s slider infinite;
}

#slider {
    overflow: hidden;
}
#slider figure img {
    width: 20%;
    float: left;
}

@keyframes slider {
    0% {
        left 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%
    }
}
